$blackPrimary: #000000;
$blackSecondary: #0f0f0f;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #FFC15E;
$bluePrimary: #93E1D8;
$maybeColor: #1F1300;

.shipping-container {
    background: $greySecondary;
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
}

.shipping-card {
    // padding: 10rem 2rem;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    background: transparent;
    width: 20rem;
    height: 40rem;
    perspective: 1000px;
}

.shipping-card-inner {
//   position: relative;
  border: solid 3px $redPrimary;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.shipping-card:hover .shipping-card-inner {
    transform: rotateY(180deg);
}

.shipping-card-front, .shipping-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.shipping-card-front {
    border-radius: 0.4em;
    background-color: $redPrimary;
    color: white;
    text-align: center;
}

.shipping-card-back {
    border-radius: 0.5em;
    background-color: white;
    color: $blackPrimary;
    transform: rotateY(180deg);
}

.shipping-card-header {
    font-size: 3rem;
}

.shipping-card-text {
    font-size: 1.2rem;
    padding: 2rem;
}

@media only screen and (max-width: 600px) {
    .shipping-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shipping-card {
        margin: 4rem 0 0 0;
        width: 25rem;
    }
}