$blackPrimary: #000000;
$blackSecondary: #0f0f0f;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #FFC15E;
$bluePrimary: #93E1D8;
$maybeColor: #1F1300;

.hero {
    height: 100vh;
    padding: 20px;
    background: url('../../assets/clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 12rem 0 3rem 0;
    color: $blackPrimary;
    font-size: 80px;
    text-align: center;
}

.button {
    color: $yellowPrimary;
    background: $blackPrimary;
    width: 8rem;
    height: 8rem;
    border-radius: 5em;
    border: white solid 1px;
    padding: 2.5rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none;
}