$blackPrimary: #000000;
$blackSecondary: #0f0f0f;
$blackThird: #000505;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #EEF36A;
$yellowSecondary: #FFC15E;
$bluePrimary: #232ED1;
$blueSecondary: #5899E2;
$blueThird: #86B4EA;

.hero {
    height: 100vh;
    padding: 20px;
    background: url('../../assets/clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 12rem 0 3rem 0;
    color: $blackPrimary;
    font-size: 80px;
    text-align: center;
}

.button {
    color: $yellowPrimary;
    background: $blackPrimary;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: white solid 1px;
    font-size: 1.2rem;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 50px;
    }
}