.main-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 200px;
}

.main-content {
    grid-row: span 4 / auto;
    grid-column: span 3 / auto;
    background: lightgrey;
    border: 1px blue solid;
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-content {
    background: lightgrey;
    border: 1px blue solid;
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    height: cover;
    width: 100%;
}

.product-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.product-form-item {
    background: white;
}

.product-form-label {
    font-size: 1.5rem;
}

.product-form-select {
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    background: transparent;
    border: none;
    border-bottom: solid black 1px;
    width: 90%;
}

.product-form-submit {
    margin: 1rem 0 0 0;
    background: teal;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 2em;
    border: none;
}