$blackPrimary: #000000;
$blackSecondary: #0f0f0f;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #FFC15E;
$bluePrimary: #93E1D8;
$maybeColor: #1F1300;

.main-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 200px;
}

.main-content {
    grid-row: span 4 / auto;
    grid-column: span 3 / auto;
    background: $greySecondary;
    border: 1px $bluePrimary solid;
    margin: 0.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-content {
    background: $greySecondary;
    border: 1px $bluePrimary solid;
    margin: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms;
}

.small-content:hover {
    border: $redPrimary 3px solid;
    transform: scale(1.1);
}

.product-image {
    height: cover;
    width: 100%;
}

.product-form {
    background: $greyPrimary;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.product-form-item {
    width: 80%;
     margin: 1rem 0 0 0;
}

.product-form-label {
    font-size: 1.5rem;
}

.product-form-select {
    float: right;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    border-bottom: solid $yellowPrimary 3px;
    width: 85%;
}

.product-form-select:focus {
    outline: none;
}


.product-form-submit {
    margin: 1rem 0 0 0;
    background: $redPrimary;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 2em;
    border: none;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .small-content {
        grid-row: span 3 / auto;
        grid-column: span 2 / auto;
    }
}