$blackPrimary: #000000;
$blackSecondary: #1F1300;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #FFC15E;
$bluePrimary: #93E1D8;

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    background: $greySecondary;
}

.about-image-container {
    text-align: center;
    align-self: center;
    padding: 2rem;
}

.about-image {
    width: 70%;
    border-radius: 0.5em;
}

.about-blurb-container {
    border: solid $blackPrimary 3px;
    background: $greyPrimary;
    border-radius: 0.5em;
    padding: 0 3rem;
    margin: 2rem;
}

.about-blurb-header {
    font-size: 4rem;
    color: $yellowPrimary;
    text-align: center;
}

.about-circle-frame {
  background: $blackPrimary;
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 2rem auto;
}

.about-blurb-text {
    line-height: 3rem;
    font-size: 1.2rem;
    color: $greySecondary;
}

.about-icons-container {
    font-size: 2rem;
    color: $blackSecondary;
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}
