.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.about-image-container {
    text-align: center;
    padding: 2rem;
    // border: red solid 1px;
}

.about-image {
    width: 70%;
}

.about-blurb-container {
    // border: red solid 1px;
    padding: 0 3rem;
    
}

.about-blurb-header {
    font-size: 5rem;
    color: teal;
}

.about-blurb-text {
    line-height: 2.5rem;
    font-size: 2rem;
    color: grey;
}

.about-icons-container {
    font-size: 4rem;
    color: teal;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
}
