$blackPrimary: #000000;
$blackSecondary: #0f0f0f;
$blackThird: #000505;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #EEF36A;
$yellowSecondary: #FFC15E;
$bluePrimary: #232ED1;
$blueSecondary: #5899E2;
$blueThird: #86B4EA;

.contact {
    height: 100vh;
    padding: 20px;
    background: url('../../assets/clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    margin: 0;    
    color: $blackPrimary;
    font-size: 60px;
}

.contact-form {
    margin: 5rem 0 0 0;
    background: $yellowPrimary;
    opacity: 0.9;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-label {
    margin: 2rem 0 0 0;
    width: 100%;
    font-weight: bolder;
}

.contact-input {
    background: transparent;
    width: 85%;
    border: none;
    border-bottom: solid $greyPrimary 3px;
    float: right;
}

.contact-input:focus, .contact-textarea:focus, .contact-submit:focus {
    outline: none;
}

.contact-textarea {
    width: 85%;
    align-self: flex-end;
    background: transparent;
    border-bottom: solid $greyPrimary 3px;
}

.contact-submit {
    margin: 1rem 0 0 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background: $blueSecondary;
    color: white;
    align-self: flex-end;
    border: solid $blueThird 3px;
}

.contact-submit:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .contact-header {
        font-size: 2rem;
    }

    .contact-input, .contact-textarea {
        width: 100%;
    }

    .contact-submit {
        padding: 2rem;
    }
}