$blackPrimary: #000000;
$blackSecondary: #0f0f0f;
$blackThird: #000505;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #EEF36A;
$yellowSecondary: #FFC15E;
$bluePrimary: #232ED1;
$blueSecondary: #5899E2;
$blueThird: #86B4EA;

.contact {
    height: 100vh;
    padding: 20px;
    background: url('../../assets/clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    margin: 0;    
    color: $blackPrimary;
    font-size: 60px;
    
}

.contact-form {
    margin: 5rem 0 0 0;
    background: $yellowPrimary;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-input {
    margin: 2rem 0 0 0;
    background: transparent;
    width: 500px;
    border: none;
    border-bottom: solid $greyPrimary 3px;
}

.contact-textarea {
    margin: 2rem 0 0 0;
    background: transparent;
    border-bottom: solid $greyPrimary 3px;
}

.contact-submit {
    margin: 1rem 0 0 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background: $blueSecondary;
    color: white;
    align-self: flex-end;
    border: solid $blueThird 3px;
}