.footer {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.footer-nav-container {
    list-style: none;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}

.footer-nav-item:hover {
    text-decoration: underline;
    color: grey;
    cursor: pointer;
}

.footer-main-text {
    color: teal;
}

.footer-icons-container {
    width: 20%;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
}

.newsletter-container {
    text-align: center;
    padding: 5rem 1rem;
}

.newsletter-label {
    font-size: 1rem;
}

.newsletter-text-field {
    font-size: 1rem;
    color: white;
    background: transparent;
    border: none;
    border-right: solid 1px grey;
    border-bottom: solid 1px white;
}

.newsletter-text-field:focus {
    outline: none;
    color: hotpink;
}

.newsletter-submit {
    background: hotpink;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    margin: 0 0 0 1rem;
}

@media only screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}