$blackPrimary: #000000;
$blackSecondary: #0f0f0f;
$blackThird: #000505;
$greyPrimary: #7C7C7C;
$greySecondary: #e4e4e4;
$redPrimary: #CF4526;
$yellowPrimary: #EEF36A;
$yellowSecondary: #FFC15E;
$bluePrimary: #232ED1;
$blueSecondary: #5899E2;
$blueThird: #86B4EA;

.footer {
    background: $blackPrimary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.footer-nav-container {
    padding: 0;
    list-style: none;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}

.footer-nav-item:hover {
    text-decoration: underline;
    color: $yellowPrimary;
    cursor: pointer;
}

.footer-main-text {
    color: $blueSecondary;
}

.footer-icons-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
}

.footer-icons-row {
    display: flex;
    justify-content: space-between;
}

.footer-icon {
    font-size: 2rem;
}

.newsletter-container {
    text-align: center;
    padding: 5rem 1rem;
}

.newsletter-label {
    font-size: 1rem;
}

.newsletter-text-field {
    font-size: 1rem;
    color: white;
    background: transparent;
    border: none;
    border-right: solid 1px $greyPrimary;
    border-bottom: solid 1px white;
}

.newsletter-text-field:focus {
    outline: none;
    color: $yellowPrimary;
}

.newsletter-submit {
    background: $yellowPrimary;
    color: $blackPrimary;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    margin: 0 0 0 1rem;
}

.newsletter-submit:focus {
    outline: none;
}

.newsletter-submit:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-icons-container {
        width: 70%;
    }

    .newsletter-container {
        padding: 3rem 0;
    }
}